<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sms.mapper.TemplateMapper">

    <resultMap type="com.sms.entity.TemplateEntity" id="templateMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="content" column="content"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="createUser" column="create_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <select id="custom" resultType="com.sms.dto.TemplateDTO">
        select t.*,ct.config_template_code,ct.config_id from config_template ct
        left join template t on ct.template_id = t.id
        <where>
            t.is_delete = 1 and ct.is_delete = 1
            <if test="params.name != null">
                AND t.name LIKE concat('%',#{params.name},'%')
            </if>
            <if test="params.code != null">
                AND t.code LIKE concat('%',#{params.code},'%')
            </if>
            <if test="params.configId != null">
                AND ct.config_id = #{params.configId}
            </if>
        </where>
        order by t.create_time desc
    </select>

</mapper>
